:root {
    --cordefundo : #FFFFFF;
    --headercor: #CDF5EF;
    --textcor: #5863ED;
    --buttoncolor:#BC2765;
}

* {
    margin: 0;  
    padding: 0;;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: 'Share Tech Mono', monospace;
}

header {
    display: flex;
    background-color: var(--headercor);
    justify-content: center;
    align-items: center;
    padding: 20px 50px;
    vertical-align: middle;
    word-spacing: 20px;
    box-sizing: border-box;
    color: white;
    text-shadow: 1px 1px 3px black;
    height: 100px;
    width: 100vw;
}

main {
    display: flex;
    flex-direction: column;
    text-align: center;
    line-height: 35px;
    box-sizing: border-box;
    height: 70vh;
    align-items: center;
    justify-content: center;
   
    
}

audio {
    padding-top: 20px;
}

div {
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

div > h2 {
    color: var(--textcor);
    text-shadow: 1px 1px 2px var(--textcor);
    width: 300px;
    
}

main > p {
    text-shadow: 1px 1px 2px var(--textcor);
}

img {
    width: 300px;
    height: 250px;
}

footer {
    background-color: var(--headercor);
    width: 100vw;
    height: 25px;
    text-align: center;
    color: white;
    text-shadow: 1.5px 1px black;
    display: flex;
    justify-content: center;
    align-items: center;

}

footer i {
    margin-left: 10px;;
    background: -webkit-linear-gradient(90deg, orange, purple);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: none;
}

.estrelinha {
    color: var(--textcor);
    font-size: 33px;
    padding-bottom: 2px;
    margin: 8px;
}

#container-main {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    justify-content: space-between;
    align-items: center;
}

#cat {
    display: flex;
    width: 500px;
    gap: 0px;
}


#start-button {
    background-color: var(--buttoncolor);
    width: 300px;
    height: 35px;
    justify-self: center;
    font-weight: bold;
    border-top: 1px solid green;
    border-bottom: 1.5px solid pink;
    color: white;
    text-shadow: 1px 1.5px 0px green;
}

#start-button:hover {
    cursor: pointer;
    background-color: #a8225a;
}

#start-button:active {
    transform: scale(0.95);
}